/*-----------------------
FIXED DIV POSITIONS
------------------------- */
.fixedcontact{
z-index: 1000;
position: fixed;
position: center;
max-width: 100%;
}


/*-----------------------
  CONTACTFLEXBOX
------------------------- */

.contactpanel{
display: flex;
flex-flow: column nowrap;
justify-content: flex-end;
align-content: space-around;
position: fixed;
z-index: auto;
color: white;

}
/*-----------------------
AVATAR CONTAINER
------------------------- */
.avatar-container{
  display: flex;
  justify-content: center;
}

.avatar {
  /*background-image: url("https://s-media-cache-ak0.pinimg.com/236x/3c/41/74/3c41748bb2526f33c5ff6aa3adcd0b20.jpg");	*/
  overflow: hidden;
  border-radius: 50%;
  border: solid 3px rgba(0, 150, 136, 0.3);
  width: 150px;
  height: 150px;
  background-size: cover;
  z-index: 2;
  cursor: pointer;
  margin-bottom: 2em;
}
.avatar img {
  width: 100%;
  height: 100%;
}
