
    <div class="col-8 grid-spaceAround">
        <div class="col-4_sm-12 grid-spaceBetween" ng-repeat="project in $ctrl.projects | limitTo : $ctrl.projectliststate track by $index">
            <div class="thecard">
                <a class="card-img" href="#_">
                    <img src="https://images.unsplash.com/photo-1440339738560-7ea831bf5244?fit=crop&fm=jpg&h=375&w=500">
                </a>
                <div class="card-caption">
                    <a href="#_">
                        <span class="date">{{project.PublishedAt | date}}</span>
                        <h3>{{project.title}}</h3>
                        <p>{{project.content | limitTo : 50}}</p>
                    </a>
                </div>
                <a ui-sref="project.item({id: project._id})" class="card-outmore">
                    <h5>Look at this project</h5>
                    <i class="outmore-icon fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
<div class="grid center load">
<button class="pure-button hvr-curl-bottom-right pure-button-primary" ng-click="$ctrl.loadMore()" ng-if="$ctrl.projectliststate < $ctrl.projects.length">Load More</button>
</div>






  <!--  <a href="" ng-click="$ctrl.prev()">Prev</a>-->
   <!--<a href="" ng-click="$ctrl.next()" class="next">Next</a>-->
