<div class="grid">
    <div class="col-2">
      <!--  <a href="" ng-click="$ctrl.prev()">Prev</a>-->
    </div>
    <div class="col-8 grid-spaceAround">
        <div class="col-4_sm-12 grid-spaceBetween" ng-repeat="post in $ctrl.posts | limitTo : $ctrl.blogliststate track by $index">
            <div class="thecard">
                <a class="card-img" href="#_">
                    <img src="https://images.unsplash.com/photo-1440339738560-7ea831bf5244?fit=crop&fm=jpg&h=375&w=500">
                </a>
                <div class="card-caption">
                    <a href="#_">
                        <span class="date">{{post.PublishedAt | date}}</span>
                        <h3>{{post.title}}</h3>
                        <p>{{post.content | limitTo : 50}}</p>
                    </a>
                </div>
                <a ui-sref="blog.item({id: post._id})" class="card-outmore">
                    <h5>Look at this project</h5>
                    <i class="outmore-icon fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-2 ">
      <!--  <a href="" ng-click="$ctrl.next()" class="next">Next</a>-->
    </div>
</div><!--end of containing div-->

<div class="grid center load">
      <a  ng-click="$ctrl.loadMore()" ng-if="$ctrl.blogliststate < $ctrl.posts.length">Load More</a>
</div>
