<div class="bigView">
    <div class="col-6_xs-12">
        <div class="thecard">
            <a class="card-img" href="#_">
                <img src="{{$ctrl.project.img1}}">
            </a>
            <div class="card-caption">
                <a href="#like" class="like-btn fa fa-thumbs-o-up"></a>
                <a href="#_">
                    <span class="date">{{$ctrl.project.createAt}}</span>
                    <h1>{{$ctrl.project.title}}</h1>
                    <p>{{$ctrl.project.content}}</p>
                </a>
                <p>We used {{$ctrl.project.techno}} for this project.</p>
                <div class="grid">
                    <p class="col-6_sm-12">You can go in our <a href="{{$ctrl.project.website}}">SuperProject</a> website for see more about it.</p>
                </div>
                <div class="grid">

                    <div class="col-2_sm-6 vote">
                        <p class="like-btn2 fa fa-thumbs-o-up">{{$ctrl.project.votes}}</p>
                    </div>
                </div>
            </div>




            <a class="card-outmore" href="#_">
                <h5>See all comments</h5>
                <i class="outmore-icon fa fa-angle-right"></i>
            </a>





            <div class="comments-app">
                <h1>Comments</h1>

                <!-- From -->
                <div class="comment-form">

                    <form class="form" name="form" ng-submit="form.$valid && $ctrl.addComment()" novalidate>
                        <div class="form-row">
                            <textarea class="input" ng-model="$ctrl.comment.content" placeholder="Add comment..." required></textarea>
                        </div>

                        <div class="form-row">
                            <input type="submit" value="Add Comment">
                        </div>
                    </form>
                </div>

                <!-- Comments List -->
                <div class="comments">
                    <!-- Comment -->
                    <div class="comment" ng-repeat="comment in $ctrl.project.comments | orderBy: '-createdAt'">
                        <!-- Comment Avatar -->
                        <div class="comment-avatar">
                            <img src="http://gravatar.com/avatar/412c0b0ec99008245d902e6ed0b264ee?s=80">
                        </div>

                        <!-- Comment Box -->
                        <div class="comment-box">
                            <div class="comment-text">{{ comment.content }}</div>
                            <div class="comment-footer">
                                <div class="comment-info">
                                    <span class="comment-author">
                                      <em>Anonymous</em>
                                    </span>
                                    <span class="comment-date">{{comment.createdAt | date: 'medium' }}</span>
                                </div>

                                <div class="comment-actions">
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
