
<div class="col-4_sm-12-spaceBetween contactpanel ">

    <div class="avatar-container">
        <div class="avatar selectpanel">
            <img ng-src="{{$ctrl.members[0].image}}">
        </div>
    </div>

  <div class="">
      <h3>{{$ctrl.members[0].name}}</h3>
      <p style="color:white">{{$ctrl.members[0].content}}</p>
  </div>

    <div class="contactpanel">
        <button ng-click="git()" class="pure-button pure-button-primary selectpanel">{{$ctrl.members[0].email}}</button>
        <button class="pure-button button-success selectpanel"><a ng-href="https://twitter.com/?lang=en">{{$ctrl.members[0].tweeter}}</a></button>
        <button class="pure-button button-warning selectpanel">{{$ctrl.members[0].name}}</button>
        <button class="pure-button button-error selectpanel">{{$ctrl.members[0].github}}</button>

    </div>
</div>
