
<div class="col-2_sm-12-spaceBetween contactpanel">

    <div class="avatar-container">
        <div class="avatar selectpanel">
            <img src="https://s-media-cache-ak0.pinimg.com/236x/3c/41/74/3c41748bb2526f33c5ff6aa3adcd0b20.jpg">
        </div>
    </div>

    <div class="contactpanel">
        <button class="pure-button pure-button-primary selectpanel">JavaScript</button>
        <button class="pure-button button-success selectpanel">Java</button>
        <button class="pure-button button-warning selectpanel">PHP</button>
        <button class="pure-button button-error selectpanel">Ruby</button>
    </div>
</div>
