<div class="grid">





    <select-Panel class="col-2_sm-12-spaceBetween fixed"> </select-Panel>


    <div class="col-8 grid"data-push-left="off-2">
        <ui-view />
    </div>



    <contact-Panel class="col-4_sm-12-spaceBetween"> <contact-Panel>


    </div><!--end of containing div-->

    <div class="grid center load">
        <button class="pure-button hvr-curl-bottom-right pure-button-primary" ng-click="$ctrl.loadMore()" ng-if="$ctrl.blogliststate < $ctrl.posts.length">Load More</button>
    </div>
