<div class="col-2_sm-12-spaceBetween selectpanel">
    <div class="selectpanel">
        <button class="pure-button pure-button-primary selectpanel">JavaScript</button>
        <button class="pure-button button-success selectpanel">Java</button>
        <button class="pure-button button-warning selectpanel">PHP</button>
        <button class="pure-button button-error selectpanel">Ruby</button>
    </div>

    <div class="col-2_sm-12-spaceBetween searchinput">
        <form class="pure-form pure-g searchinput">
            <div class="pure-u-1">
                <input type="text" class="pure-input-1" placeholder="Search by Developer"ng-model="text.title">
            </div>
            <button type="submit" class="pure-button pure-input-1-2 pure-button-primary col-2_sm-12-spaceBetween">
              <i class="fa fa-arrow-circle-right" aria-hidden="true">Search</i></button>
        </form>
    </div>

    <div class="selectMenu">
        <div class="pure-menu pure-menu-scrollable custom-restricted selectMenu">
            <a href="#" class="pure-menu-link pure-menu-heading">Home</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Most Recent</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Most Votes</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Most Views</a></li>
            </ul>
        </div>
    </div>
</div>
